@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
}

ul {
  color: #5c5c5c;
}

li {
  font-size: 1rem;
}

@keyframes marquee-vertical-down {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0%); }
}

@keyframes marquee-vertical-up {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-50%); }
}

@keyframes marquee-horizontal {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee-vertical-down {
  animation: marquee-vertical-down 20s linear infinite;
}

.animate-marquee-vertical-up {
  animation: marquee-vertical-up 20s linear infinite;
}

.animate-marquee-horizontal {
  animation: marquee-horizontal 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
}